@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">

    <div class="row d-flex align-items-center">
        <div class=" col-md-6 col-12 text-light">
            <h1>Manage all your Contacts in one Place</h1>

            <h3>a simple online address book that allows you to access your contacts from anywhere!</h3>

            <a asp-controller="Contacts" asp-action="index" class="btn btn-primary pt-2 mt-2 ">Demo</a>

            <p> Built with ASP.NET Core, C#, .NET 6, Bootstrap 5 and Postgres SQL.</p>

            <p>Hosted with Heroku, CI/CD with Github</p>
        </div>

        <div class="col-md-6 col-12 img-fluid align-items-center">
            <img src="/img/img/black_book_pro_logo.png" alt="address book logo" />
        </div>
    </div>

</div>
