@{
    ViewData["Title"] = "Home Page";
}


    <div class="row glass-cf-style d-flex align-items-center me-2 ms-2 mt-5 p-5">
        <div class=" col-12 mt-5  col-lg-6 order-last order-lg-first text-center text-light">
            <h1>MANAGE ALL YOUR CONTACTS IN ONE PLACE</h1>

            <h3>A simple online address book that allows you to access your contacts from anywhere!</h3>

            <a asp-controller="Contacts" asp-action="index" class="w-50 glass-button pt-2 mt-2 mb-2 ">CHECK IT OUT</a>

            <p> Built with ASP.NET Core, C#, .NET 6, Bootstrap 5 and Postgres SQL.</p>

            <p>Hosted with Heroku, CI/CD with Github</p>
        </div>

        <div class="col-12 col-lg-6  order-first order-lg-last d-flex justify-content-center" data-tilt>
            
                <img src="/img/black_book_pro_logo_510.png" class="img-fluid" alt="address book logo"  />
        </div>
    </div>

